################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AntojeriaTica_Api/.vs/AntojeriaTica_Api/FileContentIndex
/AntojeriaTica_Web/.vs/AntojeriaTica_Web/FileContentIndex
