# Build
bin/
obj/

# User-specific files
*.user
*.suo

# VS Code
.vscode/

# Visual Studio
.vs/

# ASP.NET Core
appsettings.Development.json
appsettings.*.json
appsettings.json

# Logs
*.log

# NuGet Packages
*.nupkg
packages/

# Publish folder
publish/

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db
